<?xml version="1.0" encoding="utf-8"?>
<packages>
    <package id="adobereader" />
    <package id="zotero-standalone" />
    <package id="pdfcreator" />
    <package id="libreoffice-fresh" />
    <package id="languagetool" />
    <package id="ghostscript.app" />
	<!-- NAPS2 (Not Another PDF Scanner 2) -->
	<package id="naps2"/>
</packages>