<?xml version="1.0" encoding="utf-8"?>
<packages>
    <package id="7zip.install" />
    <package id="notepadplusplus.install" />
    <package id="teamviewer" />
    <package id="dropbox" />
    <package id="cryptomator">
    <package id="keepass.install" />
    <package id="chocolateygui">
    <package id="ccleaner">
    <package id="cdburnerxp">
    <package id="openvpn">
</packages>